@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn-disabled {
	cursor: not-allowed;
	background-color: #0f2e17;
}

.btn-disabled:hover {
	color: #fff;
	background-color: #0f2e17;
}

body,
a,
button {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

button a {
	display: block;
	width: 100%;
	height: 100%;

	color: #fff;
}

button,
a.btn,
.home-btn {
	color: #fff;
	font-weight: 700;

	cursor: pointer;

	border: none;
	border-radius: 35px;
	background-color: #3eb25e;

	transition: all 0.3s ease-in-out;
}

button:hover,
a.btn:hover,
.home-btn:hover {
	color: #000;
	background-color: #ffff7d;
}

button:hover a {
	color: #000;
}

body {
	width: 100%;
	min-height: 100vh;

	font-size: 1.6rem;
}

main {
	margin: 0 auto;
	width: 90%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

figure img {
	height: 30rem;
}

article#container {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	text-align: center;
}

article#container > section.content {
	display: grid;
	row-gap: 0.8rem;
}

article#container h1 {
	font-weight: 700;
	font-size: 5.3rem;
}

@media screen and (min-width: 768px) {
	main {
		flex-direction: row;
		justify-content: space-around;
	}

	figure img {
		width: 25rem;
		height: auto;
	}
}

@media screen and (min-width: 1024px) {
	figure img {
		width: 32rem;
	}

	article#container {
		gap: 6rem;
	}

	article#container > section.content {
		display: grid;
		row-gap: 2rem;
	}

	article#container h1 {
		font-size: 10rem;
	}
}

@media screen and (min-width: 1366px) {
	main {
		width: 132rem;
	}
}
