figure img {
	width: 25rem;
}

article#container {
	gap: 2rem;
}

article#container h1 {
	font-size: 2.4rem;
}

article#container p {
	font-weight: 400;
	font-size: 1.6rem;
}

form {
	display: grid;
	row-gap: 3rem;

	padding: 2rem 0;
	max-width: 45rem;

	text-align: left;
}

form section {
	display: grid;
	row-gap: 1.5rem;
}

form fieldset {
	border: none;
}

form fieldset > label,
form fieldset legend,
form fieldset.person-input div label {
	display: block;
	margin-bottom: 0.5rem;

	font-weight: 700;
	font-size: 1.6rem;
}

form fieldset.person-input {
	display: grid;
	row-gap: 2rem;
}

form fieldset.person-input input {
	width: 24rem;
	padding: 0.8rem;

	border-radius: 20px;
	border: 1px solid #00000040;
}

form fieldset select,
form fieldset textarea,
form fieldset small#text_length,
form fieldset.person-input input {
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
}

form fieldset small#text_length {
	display: block;
	margin-top: 0.8rem;
}

form fieldset textarea {
	padding: 0.8rem;
	width: 100%;

	resize: none;

	border-radius: 20px;
	border: 1px solid #00000040;
}

form fieldset select {
	appearance: none;

	padding: 0.5rem 2rem;
	width: 100%;

	border: 1px solid #00000040;
	border-radius: 20px;

	background-repeat: no-repeat;
	background-position: 3% center;
	background-image: url(/src/img/arrow.svg);
}

form fieldset.radio-input,
form fieldset.check-input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form fieldset.radio-input div input[type="radio"],
form fieldset.check-input div input[type="checkbox"] {
	display: none;
}

form fieldset.radio-input div label,
form fieldset.check-input div label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
}

form fieldset.radio-input div label::before,
form fieldset.check-input div label::before {
	content: "";
	display: inline-block;

	width: 1.6rem;
	height: 1.6rem;
	margin-right: 1rem;

	left: 0;
	bottom: 1px;
	z-index: 1;
	position: absolute;

	background-color: #3eb25e4d;
}

form fieldset.radio-input div label::before {
	border-radius: 50%;
}

form fieldset.check-input div label::before {
	border-radius: 25%;
}

form fieldset.radio-input div input[type="radio"]:checked + label:before,
form fieldset.check-input div input[type="checkbox"]:checked + label:before {
	font-size: 30px;
	background-color: #3eb25e;
}

form footer {
	display: grid;
	gap: 1rem;
}

form footer div.two-btn {
	justify-content: space-between;
}

form footer div.two-btn button {
	width: 45%;
	padding: 0.5rem 2rem;

	font-size: 1.6rem;
}

form footer div.single-btn button {
	width: 100%;
	font-size: 1.6rem;
	padding: 0.5rem 2rem;
}

div.two-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

a.btn {
	padding: 0.5rem 1.2rem;
}

@media screen and (min-width: 768px) {
	main {
		width: 70rem;
		gap: 4rem;
	}

	figure img {
		width: 34rem;
	}

	article#container h1 {
		font-size: 2.8rem;
	}

	article#container p {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1024px) {
	main {
		width: 95rem;
	}

	figure img {
		width: 42rem;
	}

	article#container h1 {
		font-size: 3rem;
	}

	form fieldset > label,
	form fieldset legend {
		margin-bottom: 0.8rem;

		font-size: 2rem;
	}

	form fieldset.person-input input {
		width: 35rem;
	}

	form fieldset select,
	form fieldset textarea,
	form fieldset.person-input input,
	form fieldset.person-input div label,
	form fieldset.radio-input div label,
	form fieldset.check-input div label,
	form footer div.two-btn button,
	form footer div.single-btn button {
		font-size: 1.8rem;
	}

	form fieldset select {
		padding: 0.5rem 2.4rem;
	}

	form fieldset.radio-input div label::before,
	form fieldset.check-input div label::before {
		width: 2rem;
		height: 2rem;
		margin-right: 1.6rem;
	}
}

@media screen and (min-width: 1366px) {
	main {
		width: 132rem;
		gap: 6rem;
	}

	figure img {
		width: 50rem;
	}

	article#container {
		gap: 4rem;
	}

	article#container h1 {
		font-size: 3.4rem;
	}

	article#container p {
		font-size: 2.2rem;
	}

	div.two-btn {
		gap: 2rem;
	}

	a.btn {
		padding: 1rem 2rem;

		font-size: 2rem;
	}

	form fieldset > label,
	form fieldset legend {
		font-size: 2.4rem;
	}

	form fieldset.person-input input {
		width: 40rem;
	}

	form fieldset select,
	form fieldset.radio-input div label,
	form fieldset.check-input div label,
	form footer div.two-btn button,
	form footer div.single-btn button {
		font-size: 2rem;
	}

	form fieldset select {
		padding: 0.5rem 2.4rem;
	}
}
